@font-face {
  font-family: 'RotondaC';
  src: url('../assets/fonts/RotondaC.eot');
  src: local('RotondaC'),
  url('../assets/fonts/RotondaC.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/RotondaC.woff') format('woff'),
  url('../assets/fonts/RotondaC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
